{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{% if post.public %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{% if post.dateCreated %}{{ post.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{% if post.dateUpdated %}{{ post.dateUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        <tr>
            <th>categories</th>
            {% for category in post.Categories %}
                <td>{{ category.title }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>
                Image
            </th>
            <td>
                {% if post.files %}{{ post.files }}{%  endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
